app/node_modules
app/dist
app/build
app/dist-ssr
app/*.local
app/.env

service/build
service/dist
service/.wrangler
service/.dev.*
service/.env
service/*.local
service/node_modules

# logs
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*

# editor/ide
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
