$primaryColor: #373790;
$secondaryColor: #feb6c3;
$accentColor: #ff6884;
$baseColor: #f8f8f8;
$textColor: #3e3e3e;
$dangerColor: #ff2c2c;
$infoColor: #1563e5;
$warningColor: #ad6700;

$brightPrimaryColor: lighten($primaryColor, 50%);
$brightAccentColor: lighten($accentColor, 20%);

$lightPrimaryColor: lighten($primaryColor, 40%);
$lightAccentColor: lighten($accentColor, 10%);

$white: #f8f8f8;
$black: #1b1b1b;
$gray: #aeaeae;

$white60: rgba(255, 255, 255, 0.6);
$black60: rgba(0, 0, 0, 0.6);
$gray60: rgba(197, 197, 197, 0.6);