$primaryColor: #373790;;
$accentColor: #ff6884;
$secondaryColor: #ffe9e9;
$baseColor: #f8f8f8;

$white: #f8f8f8;
$white60: rgba(255, 255, 255, 0.6);

$black: #1b1b1b;
$black60: rgba(0, 0, 0, 0.6);

$gray: #c2c2c2;
$gray60: rgb(194, 194, 194, 0.6);

$light: #ffffff;
$dark: #000000;

$red: #ff5959;
$blue: #027ed7;

$pink: rgb(255, 153, 170);
$pinkLight: #ffe9e9;
$pinkDark: #eb7170;