@import '../styles/colors.scss';

.root {
  position: absolute;
  inset: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $white60;
  z-index: 9999;
}